body{margin: 0px;
         padding: 0px;
         width: 1450px;}
#start{
    color: white;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    position: absolute;
    top:10px;
    
}
main img{width: 1800px;}
#devil{
   
    position: absolute;
    top:1220px;
    left: 300px;
    font-size:20px;
    color:rgb(138, 137, 137);
   
}
#dark{
    position: absolute;
    top:2550px;
    left: 680px;
    font-size:20px;
    color:rgb(138, 137, 137);

}
#angel{
    position: absolute;
    top:3900px;
    left:420px;
    font-size:20px;
    color:rgb(138, 137, 137);
}
#watch{
    position: absolute;
    top:5200px;
    left: 440px;
    font-size:20px;
    color:rgb(138, 137, 137);
}
#blue{position: absolute;
          top:6580px;
          left: 630px;
          font-size:20px;
          color:rgb(138, 137, 137);
        }
    
#back{position: absolute;
          top:7900px;
         left: 670px;
         font-size:20px;
         color:rgb(138, 137, 137);
        }
   #knight{position: absolute;
                 top:9250px;
                 left: 470px;
                 font-size:20px;
                 color:rgb(138, 137, 137);
                   }     
*{margin: 0px;
  padding: 0px;}
main img{
    margin: 0px;
                padding: 0px;}


/* 추가 css */
#container{
    position: absolute;
    left:150px;
}
ul{
    list-style: none;
    font-size : 40px;
}
a{
    text-decoration: none;
    color:white;
}
