@charset "utf-8";
#container{
    position: absolute;
    top: 100px;
    left: 300px;
   margin-left: 50px;
    width: 1000px;
}
ul{list-style: none;
    padding: 0px;
  
  }
 a{text-decoration: none; color:  white; font-size: 120%;} 
.sub{position: absolute;
    width: 200px;

}
ul.menu >li{display: inline-block;
                    background-color: black;
                    padding: 0px;
                   width: 200px; text-align: center;
                    height: 104px; 
                    margin: -3px;}
.menu > li  A{}
a:hover{
    color: red;
}

.sub li {
     background-color: darkgray;
  
}
.menus{
    
    
}