@charset "utf-8";

a{
  text-decoration: none;
}


#banner{
  padding-top: 100px;
}

#banner > img{
  width: 100%;
  height: auto;
  margin: 0px;
  text-align: center;
}

#banner b{
  position: absolute;
  font-size: 50px;
  left: 20%;
  top: 20%;
}

#banner p:nth-of-type(2){
  position: absolute;
  font-size: 23px;
  left: 20%;
  top: 33%;
}

/* 배너에 있는 구글, 애플 스토어 버튼 */
#banner a:nth-of-type(1){
  position: absolute;
  font-size: 20px;
  left: 20%;
  top: 45%;
  border-radius: 10px;
  color: white;
  background-color: #ff6f0f;
  padding: 1% 2%;
}

#banner a:nth-of-type(2){
  position: absolute;
  font-size: 20px;
  margin-left: 200px;
  left: 20%;
  top: 45%;
  border-radius: 10px;
  color: white;
  background-color: #ff6f0f;
  padding: 1% 2%;
}

#banner a:hover{
  background-color: rgb(232, 100, 12);
  box-shadow: 3px 3px 3px rgb(184, 184, 184);
}

#banner > a > p{
  margin: 0px;
}


/* 중고거래 상품 사이즈 규격 */

.list{
  width: 1200px;
  text-align: center;
  margin: 0px auto;
}

.usedList{
  /* display: inline-block; */
  width: 1200px;
  height: 380px;
  text-align: center;
  margin: 0px auto;
  overflow: hidden;
}

.usedList > a{
  display: inline-block;
}


.item{
  overflow: hidden;
  /* border-radius: 30px; */
}

.item:hover > img{
  transform: scale(1.05);
  transition: all 0.3s;
}

.item > img{
  width: 250px;
  height: 250px;
  /* border-radius: 30px; */
}

.item > p{
  text-align: left;
}

/* 리스트 타이틀 */

.list h1{
  width: 1200px;
  display: flex;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 30px;
}


/* 상품 리스트 슬라이드 */

/* 좌우 이동 버튼 */
.move{
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  top: -280px;
}


#prev1{
  width: auto;
  height: auto;
}

#next1{
  width: auto;
  height: auto;
}

#prev2{
  width: auto;
  height: auto;
}

#next2{
  width: auto;
  height: auto;
}

#prev3{
  width: auto;
  height: auto;
}

#next3{
  width: auto;
  height: auto;
}

#prev4{
  width: auto;
  height: auto;
}

#next4{
  width: auto;
  height: auto;
}



@media (max-width: 600px) {

}


@media (min-width: 601px) and (max-width: 1400px) {
  #banner{
    padding-top: 60px;
  }
  
  #banner b{
    position: absolute;
    font-size: 30px;
    left: 20%;
    top: 13%;
  }
  
  #banner p:nth-of-type(2){
    position: absolute;
    font-size: 13px;
    left: 20%;
    top: 23%;
  }
  
  /* 배너에 있는 구글, 애플 스토어 버튼 */
  #banner a:nth-of-type(1){
    position: absolute;
    font-size: 20px;
    left: 20%;
    top: 30%;
    border-radius: 10px;
    color: white;
    background-color: #ff6f0f;
    padding: 1% 2%;
  }
  
  #banner a:nth-of-type(2){
    position: absolute;
    font-size: 20px;
    margin-left: 180px;
    left: 20%;
    top: 30%;
    border-radius: 10px;
    color: white;
    background-color: #ff6f0f;
    padding: 1% 2%;
  }

  .list{
    width: 100%;
  }

  .usedList{
    width: 90%;
    margin: 0px 5%;
  }
}


@media (min-width: 1401px) {

}