@charset "utf-8";

a{
  cursor: pointer;
  text-decoration: none;
}

body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 3px 3px #d6d6d6;
    padding-top: 10px;
}

header div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 1200px;
    margin: 0px auto;
}

header div b{
    font-size: 20px;
}

header nav{
    display: flex;
    justify-content: left;
    width: 1200px;
    margin: 0px auto;
}

header nav p{
  margin-right: 15px;
}

#logo{
    margin-top: 5px;
}

/*입력창 전체(입력창+버튼)*/
#form {
    background-color: #ff6f0f;
    width:600px;
    height: 44px;
    border-radius: 4px;
    /*테두리 둥글기의 정도*/
    text-align: left;
    /*왼쪽 정렬*/
    display: flex;
    /*위치를 flex를 사용해서 지정함*/
    flex-direction: row;
    /*위치의 좌우를 지정*/
    align-items: center;
    /*위치의 수직을 지정*/
    margin-top: 5px;
  }

  input {
    all: unset;
    /*모든요소를 초기화*/
    font: 16px system-ui;
    /*글꼴을 16px로 지정*/
    color: #fff;
    /*글꼴을 흰색으로 지정*/
    height: 100%;
    /*크기를 부모요소에 맞추기*/
    width: 100%;
    /*크기를 부모요소에 맞추기*/
    padding: 6px 10px;
    /*내부여백 위,아래로6px, 좌,우로 10px*/
  }

  /*검색창 안쪽 부분(입력부분)의 "검색창" 글자*/
  ::placeholder {
    color: #fff;
    opacity: 0.7;
    /*불투명도 0~1까지중*/
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

  /*검색 버튼*/
  svg {
    color: #fff;
    fill: currentColor;
    /*특정위치로 마우르를 움직였을때 currentColor(손가락 모양)으로 변경*/
    width: 24px;
    height: 24px;
    padding: 10px;
    /*상하좌우 여백을 동일한 px크기로 지정*/
  }

#logo{
    width: 80px;
    height: 40px;
}

#banner{
  padding-top: 100px;
}

#banner > img{
  width: 100%;
  height: auto;
  margin: 0px;
  text-align: center;
}

#banner b{
  position: absolute;
  font-size: 50px;
  left: 20%;
  top: 300px;
}

#banner p:nth-of-type(2){
  position: absolute;
  font-size: 23px;
  left: 20%;
  top: 450px;
}

/* 배너에 있는 구글, 애플 스토어 버튼 */
#banner a:nth-of-type(1){
  position: absolute;
  font-size: 20px;
  left: 20%;
  top: 600px;
  border-radius: 10px;
  color: white;
  background-color: #ff6f0f;
  padding: 0px 30px;
}

#banner a:nth-of-type(2){
  position: absolute;
  font-size: 20px;
  margin-left: 200px;
  left: 20%;
  top: 600px;
  border-radius: 10px;
  color: white;
  background-color: #ff6f0f;
  padding: 0px 30px;
}

#banner a:hover{
  background-color: rgb(232, 100, 12);
}


/* 중고거래 상품 사이즈 규격 */

.list{
  width: 1200px;
  text-align: center;
  margin: 0px auto;
}

.usedList{
  /* display: inline-block; */
  width: 1200px;
  height: 380px;
  text-align: center;
  margin: 0px auto;
  overflow: hidden;
}

.usedList > a{
  display: inline-block;
}


.item{
  overflow: hidden;
  /* border-radius: 30px; */
}

.item:hover > img{
  transform: scale(1.05);
  transition: all 0.3s;
}

.item > img{
  width: 250px;
  height: 250px;
  /* border-radius: 30px; */
}

.item > p{
  text-align: left;
}

/* 리스트 타이틀 */

.list h1{
  width: 1200px;
  display: flex;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 30px;
}


/* 상품 리스트 슬라이드 */

/* 좌우 이동 버튼 */
.move{
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  top: -280px;
}


/* Footer */
footer{
  width: 100%;
  height: auto;
  background-color: #f6f6f6;;
}

footer #f_contents{
  display: block;
  width: 1000px;
  text-align: left;
  margin: 0px auto;
}

/* footer 윗 메뉴 */
#f_menu{
  display: flex;
  justify-content: space-between;
}

#f_menu div{
  display: block;
}

footer #f_contents hr{
  border: 1px white solid
}

/* footer 아래 회사 정보 */
footer #f_contents p{
  margin-right: 10px;
  margin-bottom: 3px;
  font-size: 13px;
  color: black;
}

footer div{
  display: flex;
  justify-content: left;
  margin-bottom: 10px;

}




@media all and (max-width:600px){
  header div > p{
    display: none;
  }

  header nav{
    display: none;
  }
};

@media all and (max-width:1245px) and (min-width:601px){
  header nav{
    display: none;
  }
  
};

/* @media all and (min-width: 1246px){

  header div{
    display: flex;
    width: 1200px;
    padding-top: 20px;
    margin:0px auto;
    justify-content: center;
    border: 1px red solid;
  }


  header nav{
      display: flex;
      justify-content: left;
      width: 1200px;
  }

  header nav p{
    margin-right: 20px;
  }
}; */